<a href="https://colab.research.google.com/github/IvanKatorgin/Python-basics/blob/main/%D0%9E%D1%81%D0%BD%D0%BE%D0%B2%D1%8B_Python_%D0%BB%D0%B0%D0%B1%D0%BE%D1%80%D0%B0%D1%82%D0%BE%D1%80%D0%BD%D0%B0%D1%8F_%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Лабораторная работа по курсу «Основы Python»

### При выполнении работы допускается использование любых внешних модулей и пакетов.

#### Задача 1

Дан список:

In [ ]:
list_01 = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 14, 46, 273, 22, 99, 15, 1000]

Напишите алгоритм, который выводит число, равное сумме элементов списка, которые больше 10, но меньше 100, и которые больше 200, но меньше 500.

Решение 1

In [ ]:
res = []

for el in list_01:
  if 10 < el < 100 or 200 < el < 500:
    res.append(el)

print(sum(res))

1291

Решение 2

In [ ]:
res_ = sum([el for el in list_01 if 10 < el < 100 or 200 < el < 500])
print(res_)

1291

#### Задача 2

Дана строка:

In [ ]:
some_string = "History is always written by the winners. When two cultures clash, the loser is obliterated, and the winner writes the history books - books which glorify their own cause and disparage the conquered foe. As Napoleon once said, 'What is history, but a fable agreed upon?'"

Напишите функцию, которая будет принимать в качестве аргумента букву и выводить все слова из строки, начинающиеся на эту букву (например, “w”).

Решение 1

In [ ]:
import re

print('введите любую букву (латиница):')
w = input().lower()
pattern = fr'\b{w}\w*'

def find_word():
  for word in some_string.lower().split():
    if re.search(pattern, word) and len(word) > 1:
      print(word)
  return

find_word()

введите любую букву (латиница):
w
written
winners.
when
winner
writes
which
'what

Решение 2

In [ ]:
import re

print('введите любую букву (латиница):')
w = input().lower()

def print_words ():
  pattern = fr'\b{w}\w*'
  list_words = re.findall(pattern, some_string, re.IGNORECASE)
  print(list_words)
  return

print_words ()

введите любую букву (латиница):
w
['written', 'winners', 'When', 'winner', 'writes', 'which', 'What']

Решение 3

In [ ]:
import re

def print_words (letter):
    pattern = fr'\b{letter}\w*'
    list_words = re.findall(pattern, some_string, re.IGNORECASE)
    print(list_words)

print_words('w')

['written', 'winners', 'When', 'winner', 'writes', 'which', 'What']

#### Задача 3

Напишите функцию, которая генерирует случайную последовательность из 6 цифр, причем в этой последовательности должна быть как минимум одна цифра 3. Позиция 3 определяться случайным образом. Например: "456379" или "033456".

Решение 1

In [ ]:
import random

def random_number ():
  n = ''
  while '3' not in n:
    n = ''.join([str(random.randint(0, 9)) for x in range(6)])
    print(n)

random_number()

343149

#### Задача 4

Данные студентов представлены в виде списка списков:

In [ ]:
students = [
["0001", "Антонов", "Антон", "Игоревич", "20.08.2009","БСТ161"],
["1102", "Богов", "Артем", "Игоревич", "25.01.2010","БСТ162"],
["0333", "Глаголева", "Анастасия", "Николаевна", "11.07.2009", "БСТ163"],
["4004", "Степанова", "Наталья", "Александровна", "13.02.2008", "БСТ161"],
["0045", "Боков", "Игорь", "Харитонович", "02.06.2009", "БСТ161"],
["0096", "Васильков", "Валентин", "Сергеевич", "20.03.2009", "БСТ164"],
["0607", "Сиропова", "Виолетта", "Эдуардовна", "28.05.2010", "БСТ162"],
["4014", "Потапов", "Дмитрий", "Станиславович", "14.02.2012", "БСТ161"]
    ]

1. Преобразуйте данные таким образом, чтобы они были представлены в виде словаря, в котором ключами являются номера студентов, а значениями — список из других данных о студентах.

Решение 1

In [ ]:
students_dict = dict()
for x in students:
  students_dict[x[0]] = x[1:]

students_dict

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'БСТ161'],
 '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'],
 '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'],
 '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'],
 '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'],
 '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'],
 '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162'],
 '4014': ['Потапов', 'Дмитрий', 'Станиславович', '14.02.2012', 'БСТ161']}

Решение 2

In [ ]:
dict([(el[0], el[1:]) for el in students])

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'БСТ161'],
 '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'],
 '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'],
 '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'],
 '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'],
 '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'],
 '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162'],
 '4014': ['Потапов', 'Дмитрий', 'Станиславович', '14.02.2012', 'БСТ161']}

2. Напишите функцию, которая принимает номер группы и выводит пронумерованный и упорядоченный по алфавиту список (фамилии, имена, отчества) всех студентов этой группы. Необходимо обращаться к словарю.

Решение 1

In [ ]:
print('введите номер группы:')
group = str(input())


def print_group ():
  group_list = list()
  for x in students_dict.values():
    if x[-1] == group:
      group_list.append(f'{x[0]} {x[1]} {x[2]}')
  sorted_list = sorted(group_list)
  for x, i in enumerate(sorted_list):
    print(x+1, i)

print_group()

введите номер группы:
БСТ162
1 Богов Артем Игоревич
2 Сиропова Виолетта Эдуардовна

Решение 2

In [ ]:
def print_group (group):
  group_list = list()
  for x in students_dict.values():
    if x[-1] == group:
      group_list.append(f'{x[0]} {x[1]} {x[2]}')
  sorted_list = sorted(group_list)
  for x, i in enumerate(sorted_list):
    print(x+1, i)

print_group('БСТ162')

1 Богов Артем Игоревич
2 Сиропова Виолетта Эдуардовна

#### Задача 5

Создайте класс Student, который создает объекты с данными о студентах (как в задаче 4). Класс должен иметь следующие методы: add_to_dict (добавляет объект в словарь из задачи 4), update_dict (обновляет запись о студенте в словаре из задачи 4), change_group (изменяет номер группы студента), change_id (изменяет номер студента) и print_date (выводит на экран данные студента).

In [ ]:
class Student:
  def __init__(self, s_id, last_name, first_name, patronomic_name, date, group):
    self.s_id = s_id
    self.last_name = last_name
    self.first_name = first_name
    self.patronomic_name = patronomic_name
    self.date = date
    self.group = group

  def add_to_dict(self):
    if self.s_id in students_dict.keys():
      print('Error')
    else:
      students_dict[self.s_id] = [self.last_name, self.first_name, self.patronomic_name, self.date, self.group]

  def update_dict(self):
    students_dict[self.s_id] = [self.last_name, self.first_name, self.patronomic_name, self.date, self.group]

  def change_group(self, new_group):
    self.group = new_group

  def change_id(self, new_id):
    self.s_id = new_id

  def print_data(self):
    print(f'{self.s_id} {self.last_name} {self.first_name} {self.patronomic_name}')

1. Создайте объект класса, добавьте его в словарь. Обновленный словарь выведете на экран.

In [ ]:
volkova = Student('0001', 'Волкова', 'Галина', 'Сергеевна', '18.12.2022', 'БСТ100')

In [ ]:
volkova.print_data()

0001 Волкова Галина Сергеевна

In [ ]:
volkova.add_to_dict()

Error

In [ ]:
volkova.change_id('0002')

In [ ]:
volkova.print_data()

0002 Волкова Галина Сергеевна

In [ ]:
volkova.add_to_dict()

In [ ]:
students_dict

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'БСТ161'],
 '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'],
 '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'],
 '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'],
 '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'],
 '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'],
 '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162'],
 '4014': ['Потапов', 'Дмитрий', 'Станиславович', '14.02.2012', 'БСТ161'],
 '0002': ['Волкова', 'Галина', 'Сергеевна', '18.12.2022', 'БСТ100']}

2. Измените номер группы студентки Волковой на 'БСТ161' и выведите обновленный список группы.

In [ ]:
volkova.group

'БСТ100'

In [ ]:
volkova.change_group('БСТ161')

In [ ]:
volkova.group

'БСТ161'

In [ ]:
students_dict

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'БСТ161'],
 '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'],
 '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'],
 '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'],
 '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'],
 '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'],
 '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162'],
 '4014': ['Потапов', 'Дмитрий', 'Станиславович', '14.02.2012', 'БСТ161'],
 '0002': ['Волкова', 'Галина', 'Сергеевна', '18.12.2022', 'БСТ100']}

In [ ]:
volkova.update_dict()

In [ ]:
students_dict

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'БСТ161'],
 '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'],
 '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'],
 '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'],
 '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'],
 '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'],
 '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162'],
 '4014': ['Потапов', 'Дмитрий', 'Станиславович', '14.02.2012', 'БСТ161'],
 '0002': ['Волкова', 'Галина', 'Сергеевна', '18.12.2022', 'БСТ161']}

In [ ]:
print_group('БСТ161')

1 Антонов Антон Игоревич
2 Боков Игорь Харитонович
3 Волкова Галина Сергеевна
4 Потапов Дмитрий Станиславович
5 Степанова Наталья Александровна

#### Задача 6

Дана матрица matrix. Напишите код, который будет транспонировать её (то есть, делать из строк столбцы) в maytix_t:

matrix_t = [
    [0, 6, 3, 4, 5],
    [1, 2, 3, 6, 7],
    [2, 2, 3, 7, 3],
    [4, 1, 3, 1, 4],
    [8, 9, 3, 2, 0]
]

In [ ]:
matrix = [
    [0,1,2,4,8],
    [6,2,2,1,9],
    [3,3,3,3,3],
    [4,6,7,1,2],
    [5,7,3,4,0]
]

Решение 1

In [ ]:
matrix_t = list(map(list,list(zip(*matrix))))
print(matrix_t)

[[0, 6, 3, 4, 5], [1, 2, 3, 6, 7], [2, 2, 3, 7, 3], [4, 1, 3, 1, 4], [8, 9, 3, 2, 0]]

Решение 2

In [ ]:
matrix_t1 = [list(x) for x in zip(*matrix)]
print(matrix_t1)

[[0, 6, 3, 4, 5], [1, 2, 3, 6, 7], [2, 2, 3, 7, 3], [4, 1, 3, 1, 4], [8, 9, 3, 2, 0]]

Решение 3

In [ ]:
for x in zip(*matrix):
  print(x)

(0, 6, 3, 4, 5)
(1, 2, 3, 6, 7)
(2, 2, 3, 7, 3)
(4, 1, 3, 1, 4)
(8, 9, 3, 2, 0)